

#sakura {
    position: absolute;
}

@keyframes move {
    0% {
        opacity: 0.7;
        transform: translateY(0);
    } 10% {
        opacity: 0.7;
    } 50% {
        opacity: 1;
    } 90% {
        opacity: 0.7;
    } 100% {
        opacity: 0;
        transform: translateY(100vh);
    }
}
